@import "../swipper/swipper-bundle.min.css";

.swipper-card{
    display: flex;
    flex-direction: row;
}

.prodCard{
    display: flex;
    flex-direction: row;
    width: 500px;
    min-width: 0;
    height: 200px;
    border-radius: 8px;
    gap: 24px;
    background: #FFF;
    box-shadow: 3px 4px 10px 1px rgba(37, 36, 59, 0.15);
    margin-bottom: 14px;
}

.prodCard .prodImgDiv img{
    max-width: 100%;
    width: auto;
    height: 100%;
}

.prodCard .prodTextDiv{
    position: relative;
    padding: 13px 57px 0 0;
}
.prodCard .prodTextDiv p:nth-child(1) strong{
    color: var(--text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.375px;
    margin-bottom: 11px;
}
.prodCard .prodTextDiv p:nth-child(1),
.prodCard .prodTextDiv h3{
    color: var(--text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.375px;
    margin-bottom: 11px;
}

.prodCard .prodTextDiv p:nth-child(2){
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.262px;
}

.prodCard .prodTextDiv ul{
    padding: 0;
    position: absolute;
    /* width: 100%; */
    bottom: 34px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: flex-start;
    align-items: center;
}

.prodCard .prodTextDiv ul li{
    list-style: none;
    text-decoration: none;
}

.prodCard .prodTextDiv ul li:nth-child(1){
    border-radius: 27px;
    background: var(--dark-red-color);
    width: 120px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.5px;
    padding: 10px 13px;
    border: 0;
}

.prodCard .prodTextDiv ul li:nth-child(1) a{
    text-decoration: none;
    color: #FFF;
}

.prodCard .prodTextDiv ul li:nth-child(2){
    width: 123px;
    color: var(--dark-red-color);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.5px;
}

.prodCard .prodTextDiv ul li:nth-child(2) a{
    color: var(--dark-red-color);
}

.prodCard .prodTextDiv .button-container .button{
    position: absolute;
    border-radius: 27px;
    background: var(--dark-red-color);
    width: 150px;
    height: 40px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.5px;
    padding: 10px 13px;
    border: 0;
    bottom: 15px;
}

@media (max-width:767px) {
    .prodCard{
        width: 300px;
        height: 120px;
        gap: 10px;
        margin-bottom: 10px;
    }

    .prodCard .prodImgDiv img{
        width: 100px;
        height: 120px;
    }
    .prodCard .prodTextDiv{
        padding: 0;
    }
    .prodCard .prodTextDiv p:nth-child(1){
        margin: 0 0 12px;
    }
    .prodCard .prodTextDiv p:nth-child(1) strong{
        font-size: 14px;
        margin-bottom: 12px;
    }
    .prodCard .prodTextDiv p:nth-child(2){
        font-size: 12px;
        line-height: normal;
    }
    .prodCard .prodTextDiv ul{
        bottom: 10px;
        gap: 12px;
    }
    .prodCard .prodTextDiv ul li:nth-child(1){
        position: absolute;
        width: 100px;
    }
    .prodCard .prodTextDiv ul li:nth-child(1) a{
        line-height: normal;
        font-size: 12px;
    }
    
    .prodCard .prodTextDiv ul li:nth-child(2){
      right: 0;
    }

    .prodCard .prodTextDiv h3{
        font-size: 14px;
        margin:0 0 12px;
    }
    
    .prodCard .prodTextDiv .button-container .button{
        font-size: 12px;
        position: absolute; 
        margin: 0;
        bottom: 5px;
        width: 130px;
    }
    
}