.rte-block h2{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 140%;
    color: #54565b;
    margin-bottom: 20px;
}

.rte-block p, .rte-block ol li{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #54565b;
    margin: 0;
}

.rte-block ol{
    margin-top: 1rem;
}

.rte-block ol li{
    color: var(--text-color);
    margin-bottom: 1rem;
}

@media (max-width:767px) {
    .rte-block h2{
        margin-top: 24px;
        font-size: 24px;
        line-height: 32px;
        text-align: center;
    }
}