@media (width < 900px) {
  #nav {
    padding: 0;
  }

  header .nav-wrapper nav {
    height: unset;
  }

  #nav>div.section.nav-sections>div.default-content-wrapper>ul>li:nth-child(3)>div>div.fragment-wrapper {
    width: 100%;
  }

  /* header nav .section.sectionlast {
    display: none;
  } */

  .header nav .sectionlast {
    height: unset;
    padding: 0;
  }

  #nav>div.section.nav-sections>div.default-content-wrapper>ul>li:nth-child(2)>div>div.fragment-wrapper {
    width: 100%;
  }

  #cust-service {
    grid-area: cust-service;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: rgb(53, 53, 53) !important;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(53, 53, 53);
    border-image: initial;
    padding: 8px 15px;
    border-radius: 25px;
    white-space: nowrap;
    max-width: 151px;
    margin-left: auto;
  }

  header .main-link {
    padding: 20px 15px;
    background: #d8d8d8;
    font-weight: 700;
  }

  .header .main-link a {
    color: var(--dark-red-color) !important;
    font-size: 14px !important;
    background: transparent !important;
    font-weight: 700 !important;
    padding: 0 !important;
  }

  #nav > div.section.nav-sections > div.default-content-wrapper > ul > li:nth-child(3) > div > div.fragment-wrapper > div > div.default-content-wrapper {
    display: block;
  }

  #nav>div.section.nav-sections>div.default-content-wrapper>ul>li:nth-child(3)>div>div.fragment-wrapper>div>div.default-content-wrapper>ul>li {
    padding: 20px 15px;
    background: #d8d8d8;
    font-weight: 700;
  }

  #nav>div.section.nav-sections>div.default-content-wrapper>ul>li:nth-child(3)>div>div.fragment-wrapper>div>div.default-content-wrapper>ul>li>a {
    color: var(--dark-red-color);
    font-size: 14px;
    font-weight: 700;
    padding: 0;
    background: transparent;
  }

  .nav-sections .nav-drop .button-container {
    padding: 0;
  }

  .nav-brand {
    padding-left: 15px;
  }

  nav .nav-brand img {
    width: 96px;
    height: 34px;
  }

  .nav-hamburger {
    padding-right: 15px;
    justify-content: flex-end;
  }

  .header nav .nav-tools {
    width: 100%;
    margin-top: 5px;
    padding-inline: 15px;
  }

  header .nav-sections .cls-mm {
    width: unset;
    height: unset;
  }

  .nav-tools>div>p:first-child {
    display: flex;
    align-items: center;
    border-radius: 19.5px;
    border: 1px solid #353535;
    background: #fff;
    padding: 9px 10px 9px 23px;
    width: 100%;
    color: #3a3a3a;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    box-sizing: border-box;
    height: 40px;
    max-width: 70%;
  }

  .nav-tools>div>p:first-child strong {
    opacity: 0.6;
  }

  .nav-tools>div>p:nth-child(2) {
    display: none;
  }

  #nav>div.section.nav-tools>div>ul>li:nth-child(1) {
    display: none;
  }

  header nav .nav-sections {
    display: unset !important;
    position: fixed;
    top: -50px;
    max-height: 0;
    overflow-y: hidden;
    background: white;
    z-index: 100;
    padding-bottom: 40px;
    transition: max-height 0.3s ease, top 0.3s ease;
  }

  header nav[aria-expanded='true'] .nav-sections {
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
  }


  .nav-sections .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .nav-sections .mm-top-in {
    height: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .07);
  }

  .nav-sections .mm-top-in .logo img {
    height: 34px;
    width: auto;
  }

  .nav-sections .nav-drop:first-child>ul {
    max-height: unset !important;
  }

  .nav-sections .default-content-wrapper>ul:first-child>li:first-child {
    display: flex;
    background: linear-gradient(131.93deg, #353535 0%, #000000 100%);
    padding: 15px;
    max-width: 100vw;
  }


  .nav-sections .default-content-wrapper>ul:first-child>li:first-child p {
    display: none;
  }

  .nav-sections .default-content-wrapper>ul:first-child>li:first-child>ul {
    display: flex;
    background: #000;
    border-radius: 24px;
    padding: 0;
    overflow-x: scroll;
    white-space: nowrap;
  }

  .nav-sections .default-content-wrapper>ul:first-child>li:first-child>ul li a {
    background: transparent;
    padding: 9px 12px !important;
    color: white;
  }

  .nav-sections .tab-pane .top-nav-left {
    flex-direction: column;
  }


  header nav .nav-sections .default-content-wrapper .tab-pane .top-nav-left>li {
    max-height: 57.6px;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  header nav .nav-sections .default-content-wrapper .tab-pane .top-nav-left>li[aria-expanded='true'] {
    max-height: var(--scroll-height);
  }

  header nav .nav-sections .default-content-wrapper .tab-pane .top-nav-left>li>a {
    padding: 20px 15px;
    position: relative;
    display: block;
    background: #f3f3f3;
    border-bottom: 1px solid #d8d8d8;
    font-size: 14px;
    border-radius: 0;
    height: unset;
    pointer-events: none;
  }

  .nav-list-wrapper .dropdown-content {
    display: block;
    position: unset;
    width: unset;
  }

  .top-nav-left .dropdown-content.menu-cardList-cnt {
    max-height: unset !important;
    min-width: unset !important;
  }

  .dropdown-content.animated.fadeIn.menu-cardList-cnt {
    margin-left: -15px;
    margin-right: -15px;
  }

  .menu-cardList {
    flex-direction: column;
    align-items: start;
  }

  .nav-sections .grdiantCard {
    background: linear-gradient(268deg, #FAF5E9 1.27%, #FFF5F3 59.2%);
    background-image: linear-gradient(268deg, rgb(250, 245, 233) 1.27%, rgb(255, 245, 243) 59.2%);
    padding: 8px 5px 10px;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    border-radius: 0;
    margin-bottom: 6px;
  }

  .nav-sections .grdiantCard:last-child {
    margin-bottom: 28px;
  }


  .header nav .nav-sections .default-content-wrapper .grdiantCard a {
    min-height: unset;
    width: 100%;
    background: transparent;
    display: block;
    color: #353535;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0 10px;
  }


  .header nav .nav-sections .default-content-wrapper .dropdown-content .link {
    color: #801c1e;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 10px 0 0;
    margin: 0 5px;
  }

  .nav-sections .grdiantCard .icon-Right {
    display: none;
  }

  p:has(.icon-bell) {
    display: none;
  }

  .nav-sections .nav-drop>.button-container .button {
    background: #525252;
    color: #fff;
    border-bottom-color: #d0d0d0;
    display: block;
    border-radius: 0;
    text-align: left;
    padding: 20px 15px;
    position: relative;
    border-bottom: 1px solid #d8d8d8;
    font-size: 14px;
    margin: 0;
    pointer-events: none;
  }

  .nav-sections .nav-drop>.button-container a::after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 8px;
    vertical-align: middle;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    float: right;
  }

  .nav-sections .nav-drop[aria-expanded='true']>.button-container a::after {
    transform: rotate(-135deg);
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']>ul {
    max-height: var(--scroll-height);
  }

  header nav .nav-sections .nav-drop>ul {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height 0.3s ease;
  }

  .header nav .nav-sections .default-content-wrapper li:not(.nav-drop)>p {
    display: none;
  }

  .header nav .nav-sections .default-content-wrapper li:not(.nav-drop)>p,
  .header nav .nav-sections .default-content-wrapper .nav-drop>ul>li>a {
    color: #222;
    padding: 0 25px 20px 25px;
    font-size: 14px;
  }

  header nav .nav-sections .default-content-wrapper .tab-pane .top-nav-left>li>a::after {
    content: '';
    display: inline-block;
    width: 9px;
    height: 9px;
    margin-left: 8px;
    vertical-align: middle;
    border: solid var(--dark-red-color);
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    float: right;
  }

  header nav .nav-sections .default-content-wrapper .tab-pane .top-nav-left>li[aria-expanded='true']>a::after {
    transform: rotate(-135deg);
  }

  #nav>div.section.nav-tools>div>ul>li:nth-child(2)>span {
    width: 15px;
    height: 14px;
  }

  header .nav-sections .nav-drop>ul>li>.button-container {
    padding: 0;
  }

  #nav>div.section.nav-sections>div.default-content-wrapper>ul>li:nth-child(1)>ul>li:nth-child(1)>a {
    background: linear-gradient(135deg, var(--dark-red-color) 0.12%, #6e0a0f 100%);
  }

  #nav>div.section.nav-tools>div {
    display: flex;
    align-items: center;
  }

  #nav>div.section.nav-tools>div>ul>li:nth-child(2) {
    min-width: 97px;
    padding: 8px 16px;
    font-weight: 500;
    height: 36px;
    font-size: 14px;
    color: #fff !important;
    background-color: #902a2c;
    border-radius: 25px;
    margin-left: 12px !important;
    display: flex;
  }

  #nav>div.section.nav-tools>div>ul>li:nth-child(2) .icon-login_header {
    margin-right: 8px;
  }

  header #nav .nav-hamburger button {
    color: #902a2c;
  }
}


.nav-sections .cls-mm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 8px;
}

.nav-sections .icon-close {
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
}

.nav-sections .icon-close:before,
.nav-sections .icon-close:after {
  content: '';
  position: absolute;
  left: 11px;
  top: 4px;
  width: 2px;
  height: 16px;
  background: #AF0000;
  border-radius: 2px;
}

.nav-sections .icon-close:before {
  transform: rotate(45deg);
}

.nav-sections .icon-close:after {
  transform: rotate(-45deg);
}