.git-block{
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.git-lists{
    display: flex;
    align-items: center;
    color: var(--text-color);
    width: 100%;
}

.git-lists div:nth-child(2) p{
    margin: 0;
    padding: 0 0 0 20px;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.5px;
    max-width: 146px;
}

@media (max-width:767px) {
    .git-lists{
        display: flex;
        flex-direction: column;
    }

    .git-lists div:nth-child(1) img{
        width: 48px;
        height: 48px;
    }

    .git-lists div:nth-child(2) p{
        padding-top: 8px;
        color: var(--text-color);
        text-align: center;
        font-size: 9px;
        font-weight: 400;
        line-height: 12px;
        text-transform: uppercase;
        padding-left: 0;
        margin: 0 3px;
    }
}