.pl-blogs div:nth-child(1){
  display: flex;
}

.pl-blogs > div:first-child {
  display: flex;
  align-items: stretch;
  margin-bottom: 40px;
}

.pl-blogs > div:first-child > div:first-child {
  flex: 0 0 45%;
  height: auto;
  margin-right: 25px;
}

.pl-blogs > div:first-child > div:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pl-blogs > div:first-child picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  display: block;
}

.pl-blogs div:nth-child(2) h3{
  color: #000;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 16px;
}

.pl-blogs div:nth-child(2) p{
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.pl-blogs div:nth-child(2) ul{
  margin: 16px 0 0;
  padding: 0;
  list-style: none;
  margin-bottom: 24px;
}

.pl-blogs div:nth-child(2) ul li{
  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.5;
}

.pl-blogs div:nth-child(2) .button-container .button{
  padding: 0;
  margin: 0;
  color: var(--dark-red-color);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.5px;
  background-color: unset;
}

.pl-blogs .swiper .swiper-slide div{
  position: relative;
  background-color: #fff;
  padding: 10px 12px;
  padding-bottom: 0;
  border-radius: 8px;
}

.pl-blogs .swiper .swiper-slide div div{
  padding: 0;
}

.pl-blogs .swiper .swiper-slide div div:nth-child(2){
  margin-left: 16px;
}

.pl-blogs .swiper-blog {
  /* padding: 20px 0; */
  box-sizing: border-box;
  /* overflow: visible; */
  overflow: hidden;
}

.pl-blogs .swiper-wrapper {
  box-sizing: border-box;
}

.pl-blogs .swiper-slide {
  box-sizing: border-box;
}

/* Position and show the pagination container */
.pl-blogs .swiper-pagination {
  position: relative;
  margin-top: 20px;
  text-align: center;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

/* Default grey dots */
.pl-blogs .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: #ccc;
  opacity: 1;
  border-radius: 50%;
  margin: 0 6px;
  display: inline-block;
  transition: all 0.3s ease;
}

/* Active bullet = grey rectangle */
.pl-blogs .swiper-pagination-bullet-active {
  width: 24px;
  height: 6px;
  border-radius: 6px;
  background-color: #888;
}
.pl-blogs .swiper-blog {
  padding-bottom: 32px; /* adds space below cards for dots */
}

.pl-blogs .swiper-blog .swiper-slide div div:nth-child(1) img{
  border-radius: 8px 8px 0 0;
  object-fit: cover;
  width: 130px;
  height: 130px;
}

.pl-blogs .swiper-blog .swiper-slide div div:nth-child(2) p{
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.4px;
}

.pl-blogs .swiper-blog .swiper-slide div div:nth-child(2) ul li{
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  opacity: 0.5;
}

/* Mobile view */
@media (max-width: 768px) {
  .pl-blogs > div:first-child {
    flex-direction: column !important;
    align-items: stretch;
  }

  .pl-blogs > div:first-child > div:first-child,
  .pl-blogs > div:first-child > div:last-child {
    flex: unset;
    width: 100%;
  }

  .pl-blogs > div:first-child picture img {
    height: auto !important;
    object-fit: cover;
    border-radius: 12px;
  }

  .pl-blogs > div:first-child h3 {
    font-size: 24px;
    line-height: 32px;
  }

  .pl-blogs > div:first-child p {
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 12px;
    line-height: normal;
  }

  .pl-blogs > div:first-child ul li {
    font-size: 14px;
  }

  .pl-blogs div:nth-child(2) ul{
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 12px;
  }
}