.overview-rte .overview-rte-title {
    color: var(--text-color);
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.6px;
    margin-bottom: 12px;
}
.overview-rte .overview-rte-para,.overview-rte .overview-rte-hiddenPara  {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
}
.overview-rte .overview-rte-hiddenPara {
  margin-top: 1rem;
}
.overview-rte .overview-rte-readMore {
  margin-top: 1rem;
  font-size: 14px;
  font-weight: 600;
  color: #54565B;
  cursor: pointer;
  background-color: transparent!important;
  padding: 0;
  width: max-content;
}