
footer {
  background: var(--dark-red-color);
  color: #FFFFFF;
  font-size: var(--body-font-size-xs);
  box-sizing: border-box;
}

/* .footer>div {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
} */

.footer a:any-link {
  color: #FFFFFF;
}

.footer a:hover {
  text-decoration: none;
}

/* footer .footer>div .section {
  color: #FFFFFF;
} */

footer .footer>div .section>div {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 50px 0px; */
  /* padding-top: 50px; */
}

footer .footer p,
footer .footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer>div>div {
  display: flex;
  padding: 50px 0;
}

.footer>div>div .accordion-wrapper {
  width: 100%;
}

.footer>div>div .accordion-wrapper .accordion>div:first-child {
  display: none;
}

.footer>div>div .accordion-wrapper .accordion {
  display: flex;
  flex-wrap: wrap;
}

.footer>div>div .accordion-wrapper .accordion>div,
.footer>div>div .accordion-wrapper .accordion .accordion-item {
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  border: none;
  border-radius: unset;
}

.footer>div>div .accordion-wrapper .accordion .accordion-item {
  margin: 0;
}

.footer>div>div .accordion-wrapper .accordion>div>div:nth-child(2),
.footer>div>div .accordion-wrapper .accordion .accordion-item-body {
  display: flex;
  flex-wrap: wrap;
  border: navajowhite;
  background: transparent;
  padding: 0;
}

.footer>div>div .accordion-wrapper .accordion>div>div:first-child,
.footer>div>div .accordion-wrapper .accordion .accordion-item-label {
  padding: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
  padding-bottom: 16px;
  letter-spacing: .5px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;
  border: unset;
}

.footer .section.accordion-container:first-of-type .accordion-wrapper .accordion .accordion-item-label {
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}

.footer>div>div .accordion-wrapper .accordion>div>div:first-child ::after,
.footer>div>div .accordion-wrapper .accordion .accordion-item-label::after {
  display: block;
  top: 26%;
  background: url(/icons/icon-plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border: unset;
}

.footer>div>div .accordion-wrapper .accordion .accordion-item[open]>div>div:first-child ::after,
.footer .accordion-wrapper .accordion .accordion-item[open] .accordion-item-label::after {
  display: block;
  background: url(/icons/icon-minus.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.footer>div>div .accordion-wrapper .accordion>div>div:first-child p,
.footer>div>div .accordion-wrapper .accordion .accordion-item-label p {
  font-size: 14px;
  font-weight: 700;
  font: 700 1rem / 1.25rem 'Roboto', sans-serif;
}

.footer>div>div .accordion-wrapper .accordion>div>div:nth-child(2) ul,
.footer>div>div .accordion-wrapper .accordion .accordion-item-body ul {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding: 0 15px;
}

.footer>div>div .accordion-wrapper .accordion>div>div:nth-child(2) ul li,
.footer>div>div .accordion-wrapper .accordion .accordion-item-body ul li {
  margin-top: 12px;
  list-style: none;
}

.footer>div>div .accordion-wrapper .accordion>div>div:nth-child(2) ul li a,
.footer>div>div .accordion-wrapper .accordion .accordion-item-body ul li a {
  color: #FFFFFF;
  font-size: 14px;
  /* font-weight: 300; */
  font: 500 1rem / 1.25rem 'Roboto', sans-serif;
}

.footer>div>div:nth-child(2),
.footer .accordion-item-body {
  background: rgba(17, 17, 17, 0.1);
  padding: 40px 0;
  max-width: 100%;
}

.footer>div>div:nth-child(2)>div,
.footer .accordion-item-body {
  width: 100%;
}

.footer>div>div:nth-child(2)>div>ul {
  display: flex;
  flex-wrap: wrap;
}

.footer>div>div:nth-child(2)>div>ul>li {
  flex: 0 0 30.8%;
  max-width: 30.8%;
  padding-right: 15px;
  padding-left: 15px;
}

.footer>div>div:nth-child(2)>div>ul>li:nth-child(2)>ul>li {
  text-align: center;
}

.footer>div>div:nth-child(2)>div>ul>li:nth-child(2)>ul>li>.icon {
  height: 56px;
  width: 56px;
  background: #fff;
  padding: 2px;
  margin-left: 84px;
}

.footer>div>div:nth-child(2)>div>ul li>p {
  padding-bottom: 16px;
  letter-spacing: .5px;
  font: 700 1rem / 1.25rem Roboto, sans-serif;
}

.footer>div>div:nth-child(2)>div>ul>li>ul {
  display: flex;
}

.footer>div>div:nth-child(2)>div>ul>li:nth-child(2)>ul>li:nth-child(2) {
  display: none;
}

.footer>div>div:nth-child(2)>div>ul>li>ul li {
  margin: 0 30px 0 0;
  display: flex;
  align-items: center;
}


.footer>div>div:nth-child(3) {
  padding: 50px 0;
  padding-bottom: 27px;
  display: flex;
  align-items: center;
  position: relative;
}

.footer>div>div:nth-child(3)>div {
  /* width: auto; */
  position: relative;
}

.footer>div>div:nth-child(3) .default-content-wrapper {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 210px;
  top: 52px;
}

.footer>div>div:nth-child(3) .default-content-wrapper h1 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1;
  font: 400 24px / 1.25rem 'Roboto', sans-serif;
}

/* .footer>div>div:nth-child(3) .accordion {
  width: 15%;
} */


.footer>div>div:nth-child(3) .accordion-wrapper .accordion>div,
.footer>div>div:nth-child(3) .accordion-wrapper .accordion .accordion-item {
  flex: 0 0 100%;
  max-width: 100%;
}

footer .footer>div .section:nth-child(4) {
  background-color: #FFFFFF;
  color: #0D0D0D;
  padding-bottom: 30px;
}

.footer>div>div:nth-child(3) .accordion-wrapper .accordion .accordion-item .accordion-item-label::after {
  left: 115px;
}

.footer .accordion-wrapper .accordion .accordion-item[open] .accordion-item-label {
  border-bottom: 1px solid rgba(255, 255, 255, 0.21);
}

footer .footer>div .section:nth-child(4)>div {
  display: flex;
  align-items: flex-start;
}

footer .footer>div .section:nth-child(4)>div ul li {
  font: 300 1rem / 1.25rem Roboto, sans-serif;
  line-height: 23px;
  padding-bottom: 16px;
  color: #0D0D0D;
}

footer .footer>div .section:nth-child(4)>div p a {
  font: 300 1rem / 1.25rem Roboto, sans-serif;
  line-height: 23px;
  padding-bottom: 16px;
  color: #0D0D0D;
}

.footer>div>div:nth-child(2)>div>ul>li:last-child>ul>li .icon {
  width: 100%;
  height: 100%;
}

.footer .section.accordion-container:first-of-type .accordion details summary {
  pointer-events: none;
}

.footer .section.accordion-container:first-of-type .accordion details summary::after,
.footer .section.accordion-container:first-of-type .accordion-wrapper .accordion .accordion-item[open] .accordion-item-label::after {
  display: none;
}

@media (max-width: 767px) {
  .footer>div>div {
    padding: 0;
    order: 1;
    padding-top: 14px;
  }

  .footer .section.accordion-container:first-of-type .accordion details summary {
    pointer-events: all;
  }

  .footer .section.accordion-container:first-of-type .accordion details summary::after,
  .footer .section.accordion-container:first-of-type .accordion-wrapper .accordion .accordion-item[open] .accordion-item-label::after {
    display: block;
  }


  footer .footer>div {
    display: flex;
    flex-direction: column;
  }

  footer .footer>div .section>div {
    padding: 0 15px;
  }

  .footer>div>div:nth-child(2),
  .footer .accordion-item-body {
    padding: 30px 0;
    order: 3;
  }

  .footer>div>div .accordion-wrapper .accordion {
    flex-direction: column;
  }

  .footer>div>div .accordion-wrapper .accordion .accordion-item-label {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }

  .footer>div>div .accordion-wrapper .accordion .accordion-item {
    flex: 0 0 100%;
    max-width: 100%;
    border: none;
    border-radius: unset;
    border-bottom: 1px solid #dadada;
    font-weight: 700;
    border-bottom: 1px solid rgba(255, 255, 255, 0.21);
    letter-spacing: .5px;
    padding: 18px 0;
  }

  footer>div>div .accordion .accordion-item-body {
    background-color: transparent;
  }

  .footer>div>div:nth-child(2)>div>ul {
    flex-direction: column;
    gap: 23px;
    padding: 0;
  }

  .footer>div>div:nth-child(3) {
    padding: 0;
    order: 2;
    padding-bottom: 14px;
  }

  footer .footer>div .section:nth-child(4) {
    padding: 50px 0;
    order: 4;
  }

  footer .footer>div .section:nth-child(4)>div {
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .footer>div>div:nth-child(2)>div>ul>li {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }

  .footer>div>div .accordion-wrapper .accordion .accordion-item-body ul li {
    line-height: 20px;
    margin-top: 9px;
  }

  .footer>div>div .accordion-wrapper .accordion .accordion-item-label p {
    font-size: 14px;
    line-height: 20px;
  }

  .footer>div>div .accordion-wrapper .accordion .accordion-item-body ul li a {
    font: 400 14px / 14px 'Roboto', sans-serif;
  }

  .footer>div>div .accordion-wrapper .accordion .accordion-item-body ul {
    padding-left: 0;
    flex-basis: inherit;
  }

  .footer>div>div:nth-child(3) .accordion-wrapper .accordion .accordion-item {
    border-bottom: unset;
  }

  footer .footer>div .section:nth-child(4)>div ul li {
    font: 300 14px / 14px Roboto, sans-serif;
    line-height: 20px;
    word-break: break-word;
  }

  footer .footer>div .section:nth-child(4)>div p a {
    font: 300 14px / 14px Roboto, sans-serif;
    line-height: 18px;
  }

  footer .footer>div .section:nth-child(4)>div ul li:first-child {
    padding-bottom: 40px;
  }

  footer .footer>div .section:nth-child(4)>div ul li:nth-child(2) {
    padding-bottom: 0px;
  }

  footer .footer>div .section:nth-child(4)>div ul li:nth-child(3) {
    padding-bottom: 0px;
  }

  .footer>div>div:nth-child(2)>div>ul li>p {

    font: 700 14px / 20px Roboto, sans-serif;
  }

  .footer>div>div:nth-child(2)>div>ul>li:nth-child(2)>ul>li:nth-child(2) {
    display: block;
    display: inline-block;
    height: 48px;
    min-width: 160px;
    padding: 10px 30px;
    border-radius: 25px;
    background: #FFFFFF;
    color: var(--dark-red-color) !important;
    text-align: center;
    line-height: 30px;
    white-space: nowrap;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    min-width: auto;
    padding: 0 30px;
    line-height: 3;
  }

  .footer>div>div:nth-child(2)>div>ul>li:nth-child(2)>ul>li:nth-child(2) a {
    color: var(--dark-red-color)
  }

  .footer>div>div:nth-child(2)>div>ul>li:nth-child(2)>ul>li:first-child {
    display: none;
  }

  .footer>div>div .accordion-wrapper .accordion .accordion-item-label::after {
    top: 40%;
    right: 4px;
  }

  .footer>div>div:nth-child(3) .accordion {
    width: 100%;
  }

  .footer>div>div:nth-child(3) .default-content-wrapper {
    display: none;
  }

  .footer .section.accordion-container:first-of-type .accordion-wrapper .accordion .accordion-item-label {
    border-bottom: unset;
  }

  .footer>div>div:nth-child(3) .accordion-wrapper .accordion .accordion-item .accordion-item-label::after {
    left: unset;
  }

  .footer .accordion-wrapper .accordion .accordion-item[open] .accordion-item-label {
    border-bottom: unset;
  }

}