/* add global styles that can be loaded post LCP here */

/* breadcrumbs - make visible (all layout styles already in styles.css to prevent CLS) */
main .breadcrumbs {
  opacity: 1;
  visibility: visible; /* Show breadcrumbs */
}
